<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Status</title>
    
     <style>
        body {
            background-color: lavender;
            font-family: Arial, sans-serif;
        }
        </style>
</head>
<body>
    <div>
        <!-- Check if errorMessage is present -->
        <p th:if="${errorMessage}" th:text="${errorMessage}"></p>

        <!-- If errorMessage is not present, display success message -->
        <p th:unless="${errorMessage}" th:text="'Drug Added Successfully'"></p>
    </div>
</body>
</html>